
/* css custom variable */
:root {
  --main-color: #2222;
}

html {
  margin: 0;
  background: WhiteSmoke;
  min-width: 960px;
  text-align: center;
}

#dropdown {
  display: block;
  position: fixed;
  text-align: center;
}

.usa, .europe, .asia{
  border: 2px Black solid;
  max-width: 25%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  background: var(--main-color);
  text-align: center;
}

.highlighted {
  background-color: inherit;
}

#tours {
  display: flex;
  flex-direction: column;
}

#tours h1 {
  text-align: center;
}

#filters li {
  display: block;
  text-align: center;
}

.photos {
  display: none;
}

#tours ul li .per-night {
    opacity: 0;
    position: relative;
    top: 0px;
    right: -13px;
}

ul {
  list-style: none;
}

img {
  height: fit-content;
  width: fit-content;
}
